Source: arj
Section: utils
Priority: optional
Maintainer: Guillem Jover <guillem@debian.org>
Uploaders: Ola Lundqvist <opal@debian.org>
Build-Depends: debhelper (>= 4.0.0), autoconf
Standards-Version: 3.6.2

Package: arj
Architecture: any
Depends: ${shlibs:Depends}
Description: archiver for .arj files
 This package is an open source version of the arj archiver. This version
 has been created with the intent to preserve maximum compatibility and
 retain the feature set of original ARJ archiver as provided by
 ARJ Software, Inc.

Package: unarj
Architecture: all
Depends: arj
Description: transitional dummy package
 This is a transitional package to migrate from the non-free unarj
 package to the full arj free alternative, providing a simple wrapper
 to ease the migration. Once you have fixed all references to the unarj
 program, this packages can be safely removed.
 .
 This package may be removed after next release.

